/* BODY */

.grande_cat{
    vertical-align: middle;
    border: solid 1px;
    border-color: black;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-top: 20px;
}

.sous_cat{
    display: inline-block;   
}

/* BARRE DE RECHERCHE */ 

#barre_recherche{
    float: right;
    margin-top: 1%;
}

/* CATEGORIES PRODUITS A VENDRE */

.nom_sous_cat{
    text-align: center;
    font-weight: bold;
}

#img_fut{
    margin-right: 5%;
}

#img_tireuse{
    margin-left: 5%;
}

#img_bouteille{
    margin-left: auto;
    margin-right: auto;
}

.bouton_page_produit{
    display: block;
    margin: auto;
}

/* IMG RESEAUX SOCIAUX */

.img_res_soc img{
    width: 60px;
    height: 60px;
    display: inline-block;
}



/* DIAPOSITIVE PROMO */

/* IMG PROMO */

.promo{
   display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.promo img{
    width: 30%;
    justify-content: space-around; 
}

/* MENU DEROULANT */



/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.menu_button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;





