/* NAV */
nav{
    margin: auto;
    width: 100%;
    background-color: linen;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    right:0;
    left:0;
    position: absolute;
}


/* img */

.elements_droite{
    float:right;
}
.logo_ent{
    float:left;
    margin-left: 40px;
    margin-top: 5px;
}

#logo_douabeer{
    height: 115px;
    width: auto;
}

#mon_compte{
    margin-right: 15px;
    margin-left: 20px;
}
.compte_panier img{
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#barre_recherche{
    margin-right: 40px;
}

/* menu de navigation */

.menu{
    margin-left: 10%;
    float: left;
    margin-top: 2%;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color:orange;
    color:black;
    padding: 15px 45px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.menu_button {
    background-color: orange;
    color: black;
    padding: 15px 45px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown2:hover .menu_button {
    background-color: #3e8e41;
}

/* BODY */
body{
    background-color: lightgrey;
    height: 100%;
    margin-top: 175px;
}

.grande_cat{
    vertical-align: middle;
    border: solid 1px;
    border-color: black;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-top: 40px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: ghostwhite;
    padding-bottom: 40px;
}



.nom_grande_cat{
    text-align: center;
    
}

/* Message du jour */

.grande_cat2{
    vertical-align: middle;
    border: solid 1px;
    border-color: black;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: ghostwhite;
    padding-bottom: 40px;
}


.message_du_jour{
    display: flex;
}

.message_du_jour p{
    margin-left: 3%;
    margin-top: 50px;
    font-size: 20px;
}

.message_du_jour img{
    margin-left: 50px;
    width: 30%;
    height: 30%;
}

/* promotions */

.promo{
    align-items: center;
    margin-left: 5%;
    
}

.promo img{
    width: 30%;
    margin-top: 1%;
    margin-right: 2%;
    
}



/* categories produits a vendre */

.sous_cat{
    display: inline-block;
    margin-left: 5%;
    align-items: center;    
}

.sous_cat img{
    width: 30%;
    margin-top: 1%;
    margin-right: 2%;
    
}

/* FOOTER */

footer {
    width:100%;
    display: flex;
    justify-content: space-around;
    color:white;
    background-color:black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    right:0;
    left:0;
    margin: auto;
    position: relative;

}

footer div{
    margin: 15px;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:white;
    text-decoration: underline;
}

footer p{
    margin: 0;
}

.en_savoir_plus{
    margin-right: 50px;
}

/* img reseaux sociaux */

.img_res_soc{
    margin: 0 auto;
    text-align: center;
}
.img_res_soc img{
    width: 60px;
    height: 60px;
    margin: 0;
    display: inline-block;
    padding-right: 20px;
    
}

.img_moyens_paiement{
    margin:0 auto;
}

.img_moyens_paiement img{
    height: 80px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

/* Carte de localisation */

iframe{
    display: block;
    margin: auto;
    border:1px solid gray;
    margin-bottom: 50px;
}



/* CDG - Transport*/

#titre_cgv{
    font-weight: bold;
    text-align: center;
}

#titre_transport{
    font-weight: bold;
    text-align: center;
}

#titre_faq
{
    font-weight: bold;
    text-align: center;
}

.fdp{
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-left: 5px;
    font-size: 18px;
    width: 95%;
}

.fdp td, th{
    border: 1px solid gray;
    text-align: center; 
}


/* barre de notation */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
    
/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: orange;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: orange;  } 



.note h3{
    margin: 0 0 0 75px;
    padding: 0;
}
.note fieldset{
    margin: 0 0 0 45px;
    padding: 0;
}

/* Produits similaires */

.autres_bouteilles{
    display: flex;
    margin-left: 7.5%;
    
}

.autres_bouteilles img{
    width: 50%;
    margin-top: 1%;
    margin-left: 20px;
}

.titre2_page_produit{
    margin-left: 15px;
    font-size: 30px;
}

.nom_recommendation{
    margin-left: 20px;
}


/* tableau caractéristique bière */

.caract_tab{
    width: 100%;
    border: 1px solid lightgray;
}

/* Alignement premiere ligne page produit */

.presentation{
    display: flex;
    align-content: space-around;
    margin: 0 25px;
}

/* Img illustration biere page produit */

#img_beer{
    height:300px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    
}

#img_beer:hover {
    height: 450px;
}

/* Texte illustration page produit */

.description{
    margin-left: 60px;
    text-align: justify;
    padding-right: 80px;
}

.description h1{
    color: orange;
}

.txt_gras{
    font-weight: bold;
}

/* bouton ajouter panier */

.prix_bouteille{
    margin: 75px 50px 0 0;
    border: 2px solid grey;
    border-radius: 10px;
    height: 200px;
}

.prix_produit{
    border-bottom: 1px solid gray;  
    color: darkorange;
    font-weight: bold;
    font-size: 18px;
}

.prix_produit p{
    margin-left: 15px;
}


.quantites{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.quantites p{
    margin: 15px 0 10px 20px;
}

.quantites input{
    width: 110px;
    margin-left: 20px;
}

.bouton_ajouter{
    margin: 10px 20px; 
}
.bouton_ajouter input{
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: bold;
}

/* Page thank you */

#thankyou{
    text-align: center;
    font-size: 50px;
}

.txt_plus_gros{
    font-size: 27px;
    margin: 0 25px;
}

#img_thx{
    margin-left: 30px;
    margin-top: 30px;
}

/* Page panier */

#categ{
    margin-left: 150px;
    padding-right: 50px;
}

.au_dessus{
    display: flex;
}

#img_panier_panier{
    height: 25px;
    margin: 10px 20px 0 25px;
}

.partie_superieure_categ{
    display: flex;
    padding-top: 10px;  
}

#nom_panier{
    margin-right: 150px;
}

#continuer_achats{
    margin-left: 250px;
}

.partie_inferieure_categ{
    display: flex;
    width: 700px;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding-top: 15px;
    margin: 10px 0 0 20px;
}

#img_biere_panier{
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#nom_biere_panier{
    padding-right: 25%;
    margin-left: 20px;
    color: darkorange;
    font-weight: bold;
}

#px_unitaire_panier{
    font-size: 10px;
    margin-top: 20px;
}

#quantite_panier{
    text-align: center;
    width: 50px;
    height: 25px;
    margin: 10px 35px 0 25px;
}

#prix_panier{
    margin-top: 15px;
    margin-right: 25px;
    font-weight: bold;
}

#bouton_fermer{
    float:right;
    margin-left: 5px;
}

.partie_droite_panier{
    width: 250px;
}

#ajouter_code{
    height: 50px;
}

#ajouter_code p{
    text-align: center;
    font-weight: bold;
}

#code_promo{
    margin-left: 25px;
    width: 150px;
}

#ok{
    margin-right: 10px;
    background-color:orange;
    color:black;
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.petite_cat{
    vertical-align: middle;
    border: solid 1px;
    border-color: black;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: ghostwhite;
}

.bouton_valider_panier{
    margin-top: 15px;
    margin-left: 40px;
    background-color:orange;
    color:black;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    width: 175px;
    height: 40px;
}

.img_etapes_panier{
    margin-left: 160px;
    width: 750px;
}

.espacement_bas{
    margin-bottom: 50px;
}


.paiement_tab{
    margin-top: 15px;
    width: 100%;
    border-spacing: 30px;
}

.border_bottom_dottled{
    border-bottom: 1px dotted black;
}

.align_droite{
    text-align: right;
}

.txt_orange{
    color: darkorange;
}

#panier_est_vide{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
}


/* Page commande validée */

.commande{
    width: 95%;
    margin: 0 30px;
}

.commande img{
    height: 100px;
}

/* Recherche / liste */

.taille_img_liste{
    height: 250px;
}

.cat_size{
    margin-left: 65px;
}